adal==0.4.5
appdirs==1.4.3
asn1crypto==0.22.0
azure==2.0.0rc6
azure-batch==1.0.0
azure-common==1.1.5
azure-mgmt==0.30.0rc6
azure-mgmt-batch==1.0.0
azure-mgmt-compute==0.30.0rc6
azure-mgmt-keyvault==0.30.0rc6
azure-mgmt-logic==1.0.0
azure-mgmt-network==0.30.0rc6
azure-mgmt-nspkg==2.0.0
azure-mgmt-redis==1.0.0
azure-mgmt-resource==0.30.0rc6
azure-mgmt-scheduler==1.0.0
azure-mgmt-storage==0.30.0rc6
azure-nspkg==2.0.0
azure-servicebus==0.20.3
azure-servicemanagement-legacy==0.20.4
azure-storage==0.33.0
certifi==2017.4.17
cffi==1.10.0
cryptography==1.8.1
enum34==1.1.6
futures==3.1.1
idna==2.5
ipaddress==1.0.18
isodate==0.5.4
keyring==10.3.2
msrest==0.4.7
msrestazure==0.4.7
oauthlib==2.0.2
packaging==16.8
pycparser==2.17
PyJWT==1.5.0
pyparsing==2.2.0
python-dateutil==2.6.0
requests==2.14.2
requests-oauthlib==0.8.0
six==1.10.0
